*{
    margin: 0;
    padding: 0;
}

.main{
    width: 1150px;
    height: 200px;
    margin: auto;
    
}

#c{
    margin-top: 50px;
    margin-left: 0px;
    z-index: -2;
    width: 100%;
    
    
}

#b{
    margin-top: 100px;
    margin-left: 650px;
    z-index: -100;
}

.canvas-container{
    top: 50px;
}

/*main animation*/

.kan{
    width: 1150px;
    margin: auto;
}


.kan li{
    width: 200px;
    height: 200px;
    float: left;
    background: yellow;
    margin: 15px;
    list-style: none;
    border-radius: 50%;
    overflow: hidden;
    
}

.kan li img{
    width: 100%;
  
}

.main{
    animation: text 2s ease;
}


@keyframes text{
    0%{
        transform: translate(0,-200px);
    }
    
    80%{
        transform: translate(0,30px);
    }
    
    100%{
        transform: translate(0,0);
    }
}


.kan li{
    opacity: 0;
    animation: artist 2s ease-in 1s forwards;
}




.kan li:nth-child(1){
     animation: artist 1.5s ease-in forwards;
}
.kan li:nth-child(2){
     animation: artist 2s ease-in 0.5s forwards;
}
.kan li:nth-child(3){
     animation: artist 2.5s ease-in 1s forwards;
}
.kan li:nth-child(4){
    animation: artist 3s ease-in 1.5s forwards;
}
.kan li:nth-child(5){
    animation: artist 3.5s ease-in 2s forwards;
}


@keyframes artist{
    
    
    0%{
        transform: translateX(-1000px) rotate(0);
        opacity: 0;
    }
     
    80%{
        transform: translateX(10px) rotate(363deg);
        opacity: 1;
    }
    
    90%{
        transform: translateX(-10px) rotate(350deg);
        opacity: 1;
    }
    
    100%{
        transform: translateX(0) rotate(360deg);
        opacity: 1;
    }
    
}



/*homepage navigation*/

a{
    text-decoration: none;
}
li{
    list-style: none;
}

.nav li{
    
    font-family: "Times New Roman", Times, serif;
    font: 100 1.0em/30% 'Delius Swash Caps', Helvetica, Sans-serif;
	color: #333;
}

.header{
    height: 200px;
    text-align: center;
    
}
.nav{
    color: black;
/*    position: relative;*/
    z-index: 200000000;
}


.nav ul{
   
    overflow: hidden;
    margin: 0 auto;
    width: 600px;
 
    
}

.nav ul li{
    float: left;
    

}

.nav ul li a {
    color: white;
    
    display: block;
    height: 60px;
    width: 120px;
    text-align: center;
    line-height: 60px;
}



.section{
    height: 800px;
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    
    
}

#section01 {
    
}
#section02 {
    background-image: url(../img/section2-01.jpg);
}
#section03 {
    
}
#section04 {
    background-image: url(../img/section4-02.jpg);
}
#section05 {
    
}



.footer{
    text-align: center;
    height: 500px;
    padding: 50px 0;
    
}

.nav{
    position: absolute;
    width: 100%;
}
.nav.fix{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    
}

.nav a.active{
    background: rgb(64,23,0);
}


/*section3 caro*/

.caro{
   
    width: 250px;
    height: 200px;
    margin: auto;
    perspective: 1000px;
    
    
}


.circle{
    
    width: 100%;
    height: 100%;
    
    transform-style: preserve-3d;
    
    transition: all 1s ease;
}

.item{
    width: 290px;
    height: 220px;
    position: absolute;
    margin-top: 200px;
    color: white;
    font-size: 50px;
    
    line-height: 200px;
    text-align: center;
    opacity: 0.9;
}

.itema{
    
    transform: translateZ(250px);
}
.itemb{
    
    transform: rotateY(60deg) translateZ(250px);
}
.itemc{
   
    transform: rotateY(120deg) translateZ(250px);
}


.itemd{
    
    transform: rotateY(180deg) translateZ(250px);
}
.iteme{
   
    transform: rotateY(240deg) translateZ(250px);
}
.itemf{
  
    transform: rotateY(300deg) translateZ(250px);
}


.bn{
    text-align: center;
    margin-top: 400px;
    
}

.bn button{
    
    padding: 10px 10px;
    background-color: #A88061;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    
}



/*section4*/

.container{
    width: 1175px;
    margin: auto;
    padding-top: 120px;
}

.work{
    width: 175px;
    height: 352px;
    margin: 100px 30px 0;
    position: relative;
    float: left;
}

.front{
    position: absolute; z-index: 5;
    transition: all 0.5s ease;
}

.back{
    position: absolute;
    transition: all 0.5s ease;
}

.work:hover .front{
    transform: translateX(-35px);
}

.work:hover .back{
    transform: translateX(35px);
}



@keyframes move{
    from{
        transform: translateY(50px);
        opacity: 0;
        
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
    
}
work{
    opacity: 0;
}

.work1{
    animation: move 1s ease forwards;
    
}

.work2{
    animation: move 1s ease 0.3s forwards;
    
}

.work3{
    animation: move 1s ease 0.6s forwards;
    
}

.work4{
    animation: move 1s ease 0.9s forwards;
    
}

.work5{
    animation: move 1s ease 1.2s forwards;
    
}


/*section 5*/

#b{
    
     
    background-color: rgb(64,35,0);
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
