

body {
  font-family: sans-serif;
  background-color: whitesmoke;
  font-family: "Iceland", cursive;
   
}



.main1{
    width: 750px;
    height: 700px;
}


/*Second Page*/

.container1{
        width: 500px;
        height: 900px;
    margin-right: auto;
    margin-left: auto;
    }

.searchBar {
  padding: 20px 0;
  text-align: center;
  background-color: yellow;
  border-radius: 8px 8px 0 0;
}

label {
  font-size: 1.3rem;
}

input[type="text"] {
  height: 40px;
  padding-left: 10px;
  font-family: "Iceland", cursive;
}

#pokeOutput {
  padding: 20px 50px 30px;
}

#pokeImage {
  display: block;
  margin: 20px 0;
  width: 180px;
  position: relative;
  left: -45px;
}

.base-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.stat {
  font-weight: 700;
}

.poke-name-num {
  display: inline-block;
  float: left;
  margin-left: 5px;
}

.size {
  display: inline-block;
  float: right;
  margin-right: 5px;
}

.name {
  display: block;
  text-transform: capitalize;
  font-size: 1.6rem;
}

.poke-info {
  display: inline-block;
  margin-right: 2px;
}

.container {
  width: 450px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  color: #000;
  border-radius: 15px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
}

.image-container {
  height: 300px;
  background-color: whitesmoke;
  white-space: nowrap;
  border: 1px solid yellow;
  color: darkred;
  font-size: 1.2rem;
}
.buttons{
    margin-left: 20px;
    margin-right: 20px;
}
button {
   
  display: inline;
  margin: auto;
  background-color: #fff;
  color: black;
  border: 1px solid yellow;
  position: relative;
  outline: none;
  cursor: pointer;

}

button:hover {
  border: 2px solid brown;
}

button:active {
  background-color: #f4f1f1;
}

.bigBtn {
  height: 40px;
  width: 120px;
  font-weight: 700;
  position: relative;
  top: -2px;
}

.changeBtn {
  height: 40px;
  width: 54px;
  font-size: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.2rem;
}

td,
th {
  border: 1px solid brown;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: brown;
}

.pokeType {
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  text-transform: capitalize;
  margin-left: 5px;
  font-weight: 700;
}

.normal {
  background-color: #a8a878;
}

.grass {
  background-color: #78c850;
}

.ground {
  background-color: #e0c068;
}

.fighting {
  background-color: #c03028;
}

.rock {
  background-color: #b8a038;
}

.steel {
  background-color: #b8b8d0;
}

.fire {
  background-color: #f08030;
}

.electric {
  background-color: #f8d030;
}

.flying {
  background-color: #a890f0;
}

.psychic {
  background-color: #f85888;
}

.bug {
  background-color: #a8b820;
}

.dragon {
  background-color: #7038f8;
}

.water {
  background-color: #6890f0;
}

.ice {
  background-color: #98d8d8;
}

.poison {
  background-color: #a040a0;
}

.dark {
  background-color: #705848;
}

.ghost {
  background-color: #705898;
}

.fairy {
  background-color: #ffaec9;
}


/*landing page | Animation*/

.box{
    width: 200px;
    height: 200px;
    background: blue;
    
    position: relative;
    left: 300px;
    
    float: left;
    
}

.box{
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: ease-in;

}

@keyframes move{
    from{
        
        transform: translate(-500px,0);
        opacity: 0;
    }
    to{
       
        transform: translate(0,0);
        opacity: 1;
    }
}

.main1{
    width: 1050px;
    margin: 20px auto;
    
}

.rain{
    float: left;
   
    animation: bow;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}


@keyframes bow{
    0%{
        opacity: 0;
        transform: scale(0) translate(-1000px,0) ;
    }
    
    30%{
        opacity: 1;
        transform: scale(0.5) translate(500px,0) ;
    }
    
    60%{
        opacity: 1;
        transform: scale(0.8) translate(-300px,0) ;
    }
    
   100%{
        opacity: 1;
        transform: scale(1) translate(0,0) ;
    }


