*{
    margin: 0;
    padding: 0;
   
}

h1{
    color: brown;
    font-size: 80px;
    text-align: center;
}

#hello{
    height: 200px;
    width: 100%;
    background-color:blue;
    color: white;
    text-align: center;
    
    padding-top: 150px;
    position: relative;
    
}

#hello www{
    font-size: 50px;
    
}

#btn1 {
    background-color: palevioletred; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: fixed; 
    top: 50%;
    right: 50%;
    position: absolute;  
}

#btn2 {
    background-color: #2FAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: fixed; 
    top: 50%;
    left: 50%;
    position: absolute;
     
}

#btn1:hover{
    background-color: antiquewhite;
}

#btn2:hover{
    background-color: bisque;
}

.twoButtons{
    width: 100%;
    height: 100px;
}



